---
const { PageID } = Astro.props;
const activeClass = "on"; // For primary color replace with `active` class
---

<ul class="menu bg-base-100 w-full">
  <li><a class="menu-item p-4" id="home" href="/">Inicio</a></li>
  <li><a class="menu-item p-4" id="about" href="/about">Sobre mí</a></li>
  <li><a class="menu-item p-4" id="blog" href="/blog">Blog</a></li>
  <li><a class="menu-item p-4" id="project" href="/project">Proyectos</a></li>
  <li><a class="menu-item p-4" id="friend" href="/friend">Amigos</a></li>
  <li>
    <a
      class="menu-item p-4"
      href="mailto:gustavo.villegas@villcode.com"
      target="_blank"
      referrerpolicy="no-referrer-when-downgrade">Contacto</a
    >
  </li>
  
  <li><a class="menu-item p-4" id="music" href="https://villcode.com" target="_blank">🐉 Villcode ❤️</a></li>
  <br>
</ul>


<script define:vars={{ sideBarActiveItemID: PageID, activeClass: activeClass }}>
  const activeItemElem = document.getElementById(sideBarActiveItemID);
  activeItemElem && activeItemElem.classList.add(activeClass);
</script>

